/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    display: block;
    touch-action: none;
    cursor: url("./assets/pencil.svg") 0 24,url("./assets/pencil.svg"),auto ;
}

#debugInfo{
    min-width: 300px;
    position: fixed;
    bottom: 10px;
    background-color: rgba(255,0,0,0.1);
    color:rgba(0,0,0,0.6);
    overflow: scroll;
    text-align: end;
    z-index: 100;
}

#clearBtn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: .3;
    background-image: url("./assets/clear.png");
}

#clearBtn:hover {
    cursor: pointer;
    opacity: .5;
}

#colorList {
    position: absolute;
    left: 50px;
    bottom: 30px;
    display: flex;
    align-items: center;   
}

#colorList > li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    margin-right: 4px;
}

#colorList > li:hover {
    cursor: pointer;
}

#colorList > li.selected {
    width: 30px;
    height: 30px;
}